
  <section ng-controller="bikeController as $ctrl">
    <div ng-repeat="bike in $ctrl.bikes" class="bike-wrapper">
      <h1>{{bike.name}} {{bike.price | currency}}</h1>
      <div ng-src="imageUrl in bike.images">
        <img ng-src="{{bike.images[0]}}" class="bike-portrait">
      </div>
      <div ng-repeat="imageUrl in bike.images">
        <img ng-src="{{imageUrl}}" class="bike-thumbnail">
      </div>
      <nav ng-init="bike.tabIndex = 1">
        <p>
          <button ng-click="bike.tabIndex = 1" class="bike-secondary-button__description">Description</button>
          <button ng-click="bike.tabIndex = 2" class="bike-secondary-button__Specs">Specs</button>
          <button ng-click="bike.tabIndex = 3" class="bike-secondary-button__Reviews">Reviews</button>
        </p>
      </nav>
      <section ng-if="bike.tabIndex == 1">
        <p>{{bike.description}}</p>
      </section>
      <section ng-if="bike.tabIndex == 2">
        <p>engineType : {{bike.specs.engineType}}</p>
        <p>power : {{bike.specs.power}}</p>
        <p>brakes : {{bike.specs.brakes}}</p>
      </section>
      <section ng-if="bike.tabIndex == 3">
        <div ng-repeat="review in bike.reviews">
          <p>stars : {{review.stars}}</p>
          <p>body : {{review.body}}</p>
          <p>author : {{review.author}}</p>
          <p>createdOn : {{review.createdOn}}</p>
        </div>
      </section>
    </div>
  </section>
