  <section ng-controller="helmetController as $ctrl">
    <div ng-repeat="helmet in $ctrl.helmets" class="helmet-wrapper">
      <h1>{{helmet.name}} {{helmet.price | currency}}</h1>
      <div ng-src="imageUrl in helmet.images">
        <img ng-src="{{helmet.images[0]}}" class="helmet-portrait">
      </div>
      <div ng-repeat="imageUrl in helmet.images">
        <img ng-src="{{imageUrl}}" class="helmet-thumbnail">
      </div>
      <nav ng-init="helmet.tabIndex = 1">
        <button ng-click="helmet.tabIndex = 1" class="helmet-secondary-button__description">Description</button>
        <button ng-click="helmet.tabIndex = 2" class="helmet-secondary-button__Specs">Specs</button>
        <button ng-click="helmet.tabIndex = 3" class="helmet-secondary-button__Reviews">Reviews</button>
      </nav>
      <section ng-if="helmet.tabIndex == 1">
        <p>{{helmet.description}}</p>
      </section>
      <section ng-if="helmet.tabIndex == 2">
        <p>Chin Strap : {{helmet.specs.Chin_Strap}}</p>
        <p>Colour Scheme : {{helmet.specs.Colour_Scheme}}</p>
        <p>Form : {{helmet.specs.Form}}</p>
        <p>Sharp Rating : {{helmet.specs.Sharp_Rating}}</p>
      </section>
      <section ng-if="helmet.tabIndex == 3">
        <div ng-repeat="review in helmet.reviews">
          <p>stars : {{review.stars}}</p>
          <p>body : {{review.body}}</p>
          <p>author : {{review.author}}</p>
          <p>createdOn : {{review.createdOn}}</p>
        </div>
      </section>
    </div>
  </section>
