<!DOCTYPE html>
<html ng-app="bikeStore">
  <head>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="js/helmet.js"></script>
    <script src="js/bike.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/home.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bikes.css"></link>
  </head>

  <body>
      <nav>
        <a href="#/home" class="primary-home">home</a>
        <a href="#/bikes" class="primary-Helmets">bikes</a>
        <a href="#/helmets" class="primary-Contact">helmets</a>
        <a href="#/contact" class="primary-Contact">contact</a>
      </nav>
      <!-- <a href="/contact">contact</a>  -->

      <div class="container" ng-view>
        <!-- <bikes-list ng-if="test.primaryTabIndex == 1"></bikes-list>
        <helmets-list ng-if="test.primaryTabIndex == 2"></helmets-list> -->
        <!-- dynamic views -->
      </div>
  </body>
</html>
